<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal well-sm">
      <div class="form-group">
	<label for="code_input" class="col-md-4 control-label">Code</label>
	<div class="col-md-6">
	  <input type="text" class="form-control input-block" id="code_input" ng-model="item.code" placeholder="A01">
	</div>
      </div>
      <div class="form-group">
	<label for="type_input" class="col-md-4 control-label">Type</label>
	<div class="col-md-6">
	  <input type="text" class="form-control input-block" id="type_input" ng-model="item.type" placeholder="Pant">
	</div>
      </div>
      <div class="form-group">
	<label for="desc_input" class="col-md-4 control-label">Description</label>
	<div class="col-md-6">
	  <input type="text" class="form-control input-block" id="desc_input" ng-model="item.description" placeholder="Black">
	</div>
      </div>
      <div class="form-group">
	<label for="size_input" class="col-md-4 control-label">Size</label>
	<div class="col-md-6">
	  <input type="text" class="form-control input-block" id="size_input" ng-model="item.size" placeholder="32 inch">
	</div>
      </div>
      <div class="form-group">
	<label for="manufacturer_input" class="col-md-4 control-label">Manufacturer</label>
	<div class="col-md-6">
	  <input type="text" class="form-control input-block" id="manufacturer_input" ng-model="item.manufacturer" placeholder="Vimal">
	</div>
      </div>
      <div class="form-group">
	<div class="col-md-offset-4 col-md-6">
	  <button type="submit" class="btn btn-default" ng-click="submitForm(item)">Create</button>
	</div>
      </div>      
    </form>
  </div>
</div>
