<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
	<a class="btn btn-info" ui-sref="inventory.create()"><span class="glyphicon glyphicon-plus"></span> Create</a>
	<a class="btn btn-info" ui-sref="inventory.grid()"><span class="glyphicon glyphicon-th-list"></span></a>
      </div>
      <div class="panel-body">
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th>Code</th>
	      <th>Description</th>
	      <th>Type</th>
	      <th>Manufacturer</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="item in items" ng-click="selectItem(item)" ng-class="{'active': item.selected}">
	      <td ng-bind="item.code"></td>
	      <td ng-bind="item.description"></td>
	      <td ng-bind="item.type_name"></td>
	      <td ng-bind="item.manufacturer_name"></td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>

