<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
	<a class="btn btn-info" ui-sref="inventory.create()"><span class="glyphicon glyphicon-plus"></span> Create</a>
	<a class="btn btn-info" ui-sref="inventory.list()"><span class="glyphicon glyphicon-th-list"></span></a>
      </div>
      <div class="panel-body">
	<div class="row">
	  <div ng-repeat="item in items" ng-click="selectItem(item)" class="col-md-3">
	    <div class="well">
	    <div ng-bind="item.code"></div>
	    <div ng-bind="item.description"></div>
	    <div ng-bind="item.type_name"></div>
	    <div ng-bind="item.manufacturer_name"></div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
