<div class="row">
  <div class="col-md-6">
    <table class="table table-condensed table-striped table-hover">
      <tbody>
	<tr ng-repeat="item in items" ng-click="selectItem(item)" ng-class="{'active': item.selected}">
	  <td><a href="#/list/<[ item.pk ]>"><[ item.code ]></a></td>
	  <td ng-bind="item.description"></td>
	  <td ng-bind="item.type_name"></td>
	  <td ng-bind="item.manufacturer_name"></td>
	</tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <div ui-view></div>
  </div>
</div>
